* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "inkrapt-regular";
    src: url(../assets/fonts/PPNeueMachina-InktrapRegular.woff) format("woff"),
        url(../assets/fonts/PPNeueMachina-InktrapRegular.woff2) format("woff2");
    font-weight: 375;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "inkrapt-ultrabold";
    src: url(../assets/fonts/PPNeueMachina-InktrapUltrabold.woff) format("woff"),
        url(../assets/fonts/PPNeueMachina-InktrapUltrabold.woff2) format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "cabinet-grotersk";
    src: url(../assets/fonts/CabinetGrotesk-Variable.woff) format("woff"),
        url(../assets/fonts/CabinetGrotesk-Variable.woff2) format("woff2");
    font-style: normal;
    font-display: swap;
}

html[data-theme="light"] {
    --bg-color: rgb(226, 226, 226);
    --text-color--1: rgb(27, 32, 33);
    --text-color--2: rgba(27, 32, 33, 0.9);
    --box-shadow-color: rgba(27, 32, 33, 0.1);
    --soft-border-color: rgba(51, 51, 51, 0);
}

html[data-theme="dark"] {
    --bg-color: rgb(27, 32, 33);
    --text-color--1: rgb(226, 226, 226);
    --text-color--2: rgba(226, 226, 226, 0.9);
    --box-shadow-color: rgba(226, 226, 226, 0);
    --soft-border-color: rgba(51, 51, 51, 1);
}

html {
    background-color: var(--bg-color);
    font-size: 16px;
    color: var(--text-color--1);
    font-optical-sizing: auto;
    font-style: normal;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100vw;
}

body,
header,
main,
section,
div,
button,
article {
    display: flex;
}

body {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
}

h1 {
    font-family: "inkrapt-ultrabold";
    text-transform: uppercase;
}

h2 {
    display: block;
    width: 100%;
    text-align: start;
    font-family: "inkrapt-regular";
}

h3,
h4,
h5,
h6,
a {
    color: var(--text-color--1);
    font-family: "Work Sans", sans-serif;
}

p,
span {
    color: var(--text-color--2);
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}

button:hover {
    cursor: pointer;
}

@media screen and (max-width: 430px) {

    aside {
        display: none;
    }

    .hero__image {
        display: none;
    }

    h1 {
        font-size: clamp(2rem, -0.2222rem + 14.2222vw, 3.6rem);
    }

    h2 {
        font-family: "inkrapt-regular";
        font-size: 1.5rem;
    }

    p,
    span {
        font-size: 1rem;
    }

    main {
        flex-flow: column nowrap;
        justify-content: start;
        align-items: center;
        width: 100%;
        gap: 1.5rem;
        z-index: 1;
    }

    section {
        width: 100%;
        padding: 0 1.5rem;
    }

    header {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 92.55%;
        height: 3.5rem;
        padding: 0 1.5rem;
        border: solid rgba(27, 32, 33, 0.1) 1px;
        border-radius: 0.75rem;
        background-color: rgba(226, 226, 226, 0.75);
        backdrop-filter: blur(12px);
        position: sticky;
        top: 1.5rem;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
        margin: 2rem 0;
        z-index: 2;
    }

    .header__language-toggle {
        display: none;
    }

    .burguer {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        width: 2rem;
        height: 2rem;
        border: 0;
        gap: 0.25rem;
        background-color: transparent;
    }

    .burguer>div {
        background-color: rgb(27, 33, 32);
        height: 3px;
        width: 100%;
        border-radius: 5px;
        transition: all 0.5s;
        transform-origin: left;
    }

    .header__navigation .header__navigation-item {
        display: none;
    }

    .header__navigation .header__navigation-item:nth-of-type(3) {
        display: inline-block;
    }

    .header__navigation-logo {
        width: 35px;
        aspect-ratio: 1/1;
        vertical-align: middle;
    }

    .header__color-schema-toggle,
    .mobile__navigation-language-toggle {
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        background-color: var(--bg-color);
        border: solid rgb(27, 32, 33) 1px;
        padding: 0.25rem;
        border-radius: 3.125rem;
    }

    .mobile__navigation-language-toggle {
        border-color: var(--text-color--1);
    }

    .header__color-schema-toggle>.material-symbols-outlined,
    .mobile__navigation-language-toggle span {
        font-size: 1.25rem;
    }

    .mobile-navigation-language,
    .header__color-schema {
        color: var(--text-color--1);
        font-weight: 500;
        font-size: clamp(1rem, 0.3836rem + 0.722vw, 1.25rem);
        border-radius: 3.125rem;
        padding: 0.25rem 0.5rem;
    }

    .mobile-navigation-language--current,
    .header__color-schema--current {
        color: var(--bg-color);
        background-color: var(--text-color--1);
    }

    .hero,
    .hero__presentation {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1.5rem;
    }

    .hero__presentation-main {
        flex-flow: column nowrap;
        justify-content: start;
        align-items: start;
        width: 100%;
        gap: 0.5rem;
        order: 1;
    }

    .hero__description {
        order: 3;
    }

    .hero__presentation-main>span {
        font-family: "inkrapt-regular";
        font-size: 1.5rem;
    }

    .hero__image.hero__image--mobile {
        display: block;
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 1rem;
        border: solid rgba(27, 32, 33, 0.2) 1px;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    }

    .hero__image-link--mobile {
        order: 2;
    }

    .hero__buttons {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: end;
        width: 100%;
        order: 5;
    }

    .hero__buttons-social-wrapper {
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
    }

    .hero__buttons-social-wrapper--mobile {
        flex-flow: row nowrap;
        justify-content: start;
        align-items: center;
        width: 100%;
        order: 4;
    }

    .hero__buttons-view-work {
        color: var(--bg-color);
        background-color: var(--text-color--1);
        font-family: "inkrapt-ultrabold";
        text-decoration: none;
        border-radius: 0.5rem;
        padding: 3.7vw 5.5vw;
        border: solid transparent 1px;
        transition: all 0.3s;
        max-height: 50px;
        text-align: center;
    }

    .hero__buttons-link--resume {
        width: 100%;
        max-height: 50px;
        font-family: "Work Sans", serif;
        font-weight: 400;
        text-decoration: none;
        border-radius: 0.5rem;
        padding: 3.7vw 1.8vw;
        border: solid var(--text-color--1) 1px;
        text-align: center;
        transition: all 0.4s;
    }

    .hero__buttons-social-icon {
        width: 2.7rem;
        aspect-ratio: 1/1;
        vertical-align: middle;
        margin: 0;
        transition: all 0.4s ease;
    }

    .hero__buttons-social-wrapper .hero__buttons-social-icon {
        display: none;
    }

    .hero__buttons-resume-download-icon {
        vertical-align: middle;
    }

    .hero__buttons-resume-download-icon:nth-of-type(1) {
        display: none;
    }
    .toolkit,
    .work,
    .work__item,
    .work__item-info{
        flex-flow: column nowrap;
        justify-content: start;
        align-items: start;
        width: 100%;
        gap: 1.5rem;
    }

    .toolkit__tools-wrapper {
        flex-flow: row wrap;
        justify-content: start;
        align-items: start;
        width: 300%;
        gap: 1.5rem;
    }
    .toolkit__tool {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: calc((100% - 3rem) / 6);
        gap: 10px;
    }
    .toolkit__tool-image {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 1rem;
        order: 1;
        box-shadow: 0 10px 45px 0 var(--box-shadow-color);
        border: solid var(--soft-border-color) 1px;

    }
    .toolkit__tool-title {
        font-family: 'Work Sans', serif;
        font-weight: 600;
        font-size: 1.50rem;
        order: 2;
    }
    .toolkit__tool-expertise {
        flex-flow: column nowrap;
        justify-content: start;
        align-items: center;
        width: 90%;
        gap: 10px;
        order: 3;
    }
    .toolkit__tool-level-indicator,
    .toolkit__tool-level {
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .toolkit__tool-level>span {
        flex: 1 1 auto;
        font-size: 0.57rem;
        font-weight: 400;
    }
    .toolkit__tool-level-indicator>div {
        flex: 1 1 30%;
        height: 5px;
    }
    .toolkit__tool-level-indicator--beginner div:nth-of-type(1) {
        background-color: rgb(49, 168, 79);
    }

    .toolkit__tool-level-indicator--beginner>div {
        background-color: rgb(154, 154, 154);
    }

    .toolkit__tool-level-indicator--intermediate div {
        background-color: rgb(49, 168, 79);
    }

    .toolkit__tool-level-indicator--intermediate>div:nth-of-type(3) {
        background-color: rgb(154, 154, 154);
    }

    .toolkit__tool-level-indicator--advanced div {
        background-color: rgb(49, 168, 79);
    }
    .controls{
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .controls__button{
        background-color: var(--text-color--1);
        padding: 0.75rem 1.5rem;
        border: none;
        border-radius: 0.5rem;
    }
    .controls__button span{
        color: var(--bg-color);
    }
    .pagination{
        flex-flow: row nowrap;
        justify-content: center;
        align-content: center;
        gap: 0.75rem;
    }
    .pagination div{
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 3.125rem;
        background-color: var(--text-color--1);
        opacity: 0.3;
    }
    div.pagination__current{
        opacity: 1;
    }
    .toolkit__tool--1{
        order: 1;
    }
    .toolkit__tool--2{
        order: 2;
    }
    .toolkit__tool--3{
        order: 6;
    }
    .toolkit__tool--4{
        order: 7;
    }
    .toolkit__tool--5{
        order: 8;
    }
    .toolkit__tool--6{
        order: 3;
    }
    .toolkit__tool--7{
        order: 4;
    }
    .toolkit__tool--8{
        order: 9;
    }
    .toolkit__tool--9{
        order: 10;
    }
    .toolkit__tool--10{
        order: 5;
    }
    .work__item {
        width: 100%;
        padding: 1.25rem 1.25rem 0 1.25rem;
        border: solid var(--text-color--2) 1px;
        border-radius: 1.25rem;
        overflow: hidden;
    }
    .work__item-info{
        gap: 0.625rem;
        order: 2;
    }

    .work__item:nth-child(odd) {
        background-color: var(--text-color--1);
        color: var(--bg-color);
    }
    .work__item:nth-child(odd) h2,
    .work__item:nth-child(odd) h3,
    .work__item:nth-child(odd) p,
    .work__item:nth-child(odd) a,
    .work__item:nth-child(odd) span {
        color: var(--bg-color);
    }
    .work__item-image {
        width: 100%;
        object-fit: cover;
    }
    .work__item-title {
        font-family: 'Work Sans', sans-serif;
        font-weight: 700;
        font-size: clamp(1.5rem, 0.3462rem + 6.1538vw, 2rem)    ;
        line-height: 100%;
    }
    .work__item-role {
        font-weight: 500;
        font-size: clamp(1rem, 0.4231rem + 3.0769vw, 1.25rem);
    }
    .work__item-date {
        font-size: 1rem;
        font-weight: 400;
    }
    .work__item-description,
    .work__item-view-live {
        margin: 0.5rem 0;
    }   
    .work__item-view-details{
        flex-flow: row wrap;
        justify-content: end;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }
    .work__item-view-live {
        background-color: var(--text-color--1);
        color: var(--bg-color);
        text-decoration: none;
        font-size: 1.25rem;
        font-weight: 500;
        border-radius: 0.50rem;
        text-align: center;
        padding: 0.625rem 0;
        width: 100%;
    }
    .work__item-view-live>span {
        color: var(--bg-color);
        vertical-align: middle;
        margin-left: 0.5rem;
    }
    .work__item:nth-child(odd) .work__item-view-live,
    .work__item:nth-child(odd) .work__item-view-live>span {
        color: var(--text-color--1);
        background-color: var(--bg-color);
    }
    .work__item-view-less,
    .work__item-view-more {
        display: inline;
        margin-left: auto;
        padding: 0.5rem;
        background-color: var(--bg-color);
        border: solid var(--text-color--2) 1px;
        border-radius: 0.25rem;
    }  
    .work__item-view-less{
        display: none;
    }
    .work__item-view-less span,
    .work__item-view-more span{
        font-size: 1rem;
        vertical-align: middle;
    }
    .work__item:nth-child(odd) button {
        background-color: var(--text-color--1);
        color: var(--bg-color);
        border-color: var(--bg-color);
    }
    #work__item-view-code {
        width: 1.5rem;
        aspect-ratio: 1/1;
        vertical-align: middle;
    }
    .work__item-details {
        max-height: 0;
        flex-flow: column nowrap;
        justify-content: start;
        align-items: center;
        width: 100%;
        gap: 2.5rem;
        order: 4;
        overflow: hidden;
        transition: max-height 400ms linear;
        padding-bottom: 0;
    }
    .work__item-details.expand {
        max-height: 4500px;
        padding-bottom: 1.25rem;
    }
    .work__item-details-presentation {
        flex-flow: column nowrap;
        justify-content: start;
        align-items: start;
        gap: 1.25rem;
    }
    .work__item-details h3 {
        width: 100%;
        color: var(--text-color--1);
        font-weight: 500;
        font-size: 1.5rem;
    }
    .work__item-details-tech,
    .work__item-details-style {
        width: 100%;
        flex-flow: row wrap;
        justify-content: start;
        align-items: start;
        align-content: start;
        gap: 5.5vw;
    }
    .work__item-tech-image {
        width: calc((100% - 1.5rem)/2);
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 1rem;
        box-shadow: 0 10px 45px 0 var(--box-shadow-color);
        border: solid var(--soft-border-color) 1px;
    }
    .work__item-style-typography,
    .work__item-style-colors {
        flex-flow: row nowrap;
        justify-content: start;
        align-items: center;
        width: 100%;
        gap: 3.7vw;
    }
    .work__item-style-colors{
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        justify-content: center;
    }
    .work__item-style-font {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: start;
        width: 50%;
    }
    .work__item-style-font_sample {
        font-size: clamp(1.5rem, -1.2778rem + 17.7778vw, 3.5rem);
        font-weight: 700;
        line-height: 100%;
    }

    .work__item-style-font_name {
        font-size: 1rem;
        font-weight: 400;
    }
    
    .work__item-style-colors div {
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: calc((100% - 3rem) / 2);
        height: clamp(3.125rem, -1.2153rem + 27.7778vw, 6.25rem);
        background-color: transparent;
        border-radius: 0.5rem;
    }

    .work__item--1 .work__item-style-font--1 span {
        font-family: 'Saira', sans-serif;
    }

    .work__item--2 .work__item-style-font--1 span {
        font-family: 'cabinet-grotesk';
    }

    .work__item--2 .work__item-style-font--2 span,
    .work__item--3 .work__item-style-font--1 span {
        font-family: 'Inter', serif;
    }

    .work__item-details-style_color-code {
        font-size: clamp(0.5rem, -0.1944rem + 4.4444vw, 1rem);
        font-weight: 500;
    }

    .work__item--1 .work__item-details-style_color-code {
        font-family: 'Saira', sans-serif;
    }

    .work__item--2 .work__item-details-style_color-code,
    .work__item--3 .work__item-details-style_color-code {
        font-family: 'inter', serif;
    }

    .work__item--1 .work__item-style-color1 {
        background-color: #F0F0F0;
        border: solid rgba(0, 0, 0, 0.4) 1px;
    }

    .work__item--1 .work__item-style-color1 span {
        color: black;
    }

    .work__item--1 .work__item-style-color2 {
        background-color: #131313;
        border: solid rgba(255, 255, 255, 0.4) 1px;
    }

    .work__item--1 .work__item-style-color2 span {
        color: white;
    }

    .work__item--1 .work__item-style-color3 {
        background-color: #D70000;
    }

    .work__item--1 .work__item-style-color3 span {
        color: white;
    }

    .work__item--1 .work__item-style-color4 {
        background-color: #3EAA54;
    }

    .work__item--1 .work__item-style-color4 span {
        color: black;
    }

    .work__item--2 .work__item-style-color1 {
        background-color: #F1F8F2;
        border: solid rgba(0, 0, 0, 0.4) 1px;
    }

    .work__item--2 .work__item-style-color1 span {
        color: black;
    }

    .work__item--2 .work__item-style-color2 {
        background-color: #112217;
        border: solid rgba(255, 255, 255, 0.4) 1px;
    }

    .work__item--2 .work__item-style-color2 span {
        color: white;
    }

    .work__item--2 .work__item-style-color3 {
        background-color: #336842;
        border: solid rgba(255, 255, 255, 0.4) 1px;
    }

    .work__item--1 .work__item-style-color3 span {
        color: white;
    }

    .work__item--3 .work__item-style-color1 {
        background-color: #EFEFEF;
        border: solid rgba(0, 0, 0, 0.4) 1px;
    }

    .work__item--3 .work__item-style-color1 span {
        color: black;
    }

    .work__item--3 .work__item-style-color2 {
        background-color: #151515;
        border: solid rgba(255, 255, 255, 0.4) 1px;
    }

    .work__item--3 .work__item-style-color2 span {
        color: white;
    }

    .work__item--3 .work__item-style-color3 {
        background-color: #4CAF50;
        border: solid rgba(255, 255, 255, 0.4) 1px;
    }

    .work__item--3 .work__item-style-color3 span {
        color: black;
    }


    .education,
    .about,
    .contact{
        display: none;
    }
}